.app__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px
}

.app__header__h1 {
  font-size: 50px;
  margin: 0px 0px 0px 0px;
  background: linear-gradient(to right, #4032ff,
      #ff00f2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.app__header__p {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  margin: 10px 0px 0px 0px
}

.app__option {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}


.app__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.app__content__p1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  margin: 20px 0px 0px 0px;
}


.app__content__p2 {
  font-size: 14px;
  margin: 5px 0px 10px 0px;
}


.app__content__textarea {
  width: 600px;
  height: 800px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
  box-shadow: 0px 1px 7px 1px rgb(230, 230, 230);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif
}


.app__content__pre {
  white-space: pre-wrap;
  width: 600px;
  height: 800px;
  overflow: hidden;
  font-weight: bold;
  padding: 25px 0px 0px 24px;
  box-shadow: 0px 1px 7px 1px rgb(230, 230, 230);
}


@media screen and (max-width:667px) {

  .app__content__textarea {
    width: 350px;
    height: 500px;
    padding: 5px;
  }


  .app__content__pre {
    white-space: pre-wrap;
    width: 340px;
    height: 500px;
  }
}
